<h3>Please register via the form below:</h3>

<form id="signup" action='/registration' method='post'>
  <label>Enter your email:
    <input type="text" name="email" value="<%=@email%>">
  </label>
  <label>Create a password:
    <input type="text" name="password">
  </label>
  <label>Confirm password:
    <input type="text" name="confirm_password">
  </label>
  <input type="submit" value="Submit">
</form>

<% if flash[:mismatch] %>
<%= flash[:mismatch] %>
<%end%>
