<h3>Please register via the form below:</h3>

<form id="signup" action='/registration' method='post'>
  <label>Enter your email:
    <input type="text" name="email">
  </label>
  <label>Create a password:
    <input type="text" name="password">
  </label>
  <input type="submit" value="Submit">
</form>
